/* .container {
    width: 100vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;
} */

/* 
w-full 
h-full 
lg:grid 
lg:min-h-[600px] 
lg:grid-cols-2 
xl:min-h-[800px]

*/